.card-largura {
  max-width: 18rem;
}
.carousel-image1 {
  object-fit: cover;
  object-position: 0 65%;
  height: 400px;
}

.carousel-image2 {
  object-fit: cover;
  height: 400px;
}

.title-fonts {
  font-family: "Pacifico", cursive;
}

.special-color {
  color: darkred !important;
}

.botao-cor-especial {
  background-color: darkred !important;
  color: white !important;
}
.borda-cor-especial {
  border-color: darkreds;
}
.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
